@import "../mixins";

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-hero {
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
  img {
    width: 100%;
  }
}
@include breakpoint-down(medium) {
  .main-hero__desktop {
    img {
      display: none;
    }
  }
  .main-hero__mobile {
    img {
      display: block;
    }
  }
}
@include breakpoint-up(medium) {
  .main-hero__desktop {
    img {
      display: block;
    }
  }
  .main-hero__mobile {
    img {
      display: none;
    }
  }
}
